@charset "UTF-8";


@media all and (max-width:1360px){
    #wrap #main #section3 .wrap .gap .container .content .slide-container .page-wrap {width:calc(18.08%*2);}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .left-wrap {margin-left:3.5%;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap {margin-right:3.5%;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .arrow-wrap {right:4px;}

    
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text h3 {font-size:20px;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text h4 {font-size:14px;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text p  {font-size:13px;line-height:160%;}

    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view {border:3px solid #2e3192;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .arrow-wrap {bottom:3px;}
}
@media all and (max-width:1280px){
    #wrap #main #section1 .wrap .gap .container .slide-container .next-wrap {right:calc(8.7493431%*.5);width:calc(52px*.5);height:calc(100px*.5);margin-top:calc(-50px*.5);}
    #wrap #main #section1 .wrap .gap .container .slide-container .prev-wrap {left:calc(8.7493431%*.5);width:calc(52px*.5);height:calc(100px*.5);margin-top:calc(-50px*.5);}

    #wrap #main #section5 .container ul li {width:33.333%;}
}
@media all and (max-width:1024px){
    #wrap #header {height:84px;}
    /* 로고 */
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) {top:23.5px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) a.logo-btn {width:190px;}
    /* 햄버거메뉴 */
    #wrap #header .wrap .gap .container > ul > li:nth-child(2) {padding:32px 0;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(2) a .line-box {width:30px;height:20px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(2) a .text {display:none;}
    /* 사이드메뉴 */
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul {padding:18px 0;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li span {margin-left:2px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li span a {font-size:13px;}

    #wrap #main #section1 .wrap .gap .container .slide-container .next-wrap ,
    #wrap #main #section1 .wrap .gap .container .slide-container .prev-wrap ,
    #wrap #main #section1 .wrap .gap .container .slide-container .smooth-btn-wrap {display:none;}

    #wrap #main #section2 .wrap .gap .container .content .gallery li {width:50%;}

    #wrap #main #section2 .wrap .gap .container .content .gallery li .gallery-wrap .caption h4 {font-size:13px;}
    #wrap #main #section2 .wrap .gap .container .content .gallery li .gallery-wrap .caption h3 {font-size:18px;}

    #wrap #main .section2345 .wrap .gap .container .title h2 {font-size:25px;}

        
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text h3 {font-size:19px;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text h4 {font-size:14px;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text p  {font-size:13px;line-height:130%;}

}
@media all and (max-width:860px){
    #wrap #footer .content .right-wrap .address-row1 .address-row1-left {float:none;margin-bottom:20px;padding-bottom:10px;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-right {float:none;padding-bottom:10px;}
}
@media all and (max-width:780px){
    #wrap #header {height:64px;}
    #wrap #header .wrap .gap {margin:0;}
    /* 로고 */
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) {top:13.5px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) a.logo-btn {width:190px;}
    /* 햄버거메뉴 */
    #wrap #header .wrap .gap .container > ul > li:nth-child(2) {padding:22px 0 22px 20px;}
    /* 사이드메뉴 */
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul {padding:0;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li {float:right;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li:nth-child(1) ,
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li:nth-child(2) ,
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li:nth-child(3) {display:none;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li span {margin-left:2px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li span a {font-size:13px;}
    #wrap #header.addHeader .wrap .gap .container > ul > li:nth-child(3) ul li > span a.confirm-btn {background:rgba(111, 24, 78, 0.9);}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li span a.confirm-btn {width:64px;height:64px;line-height:58px;text-indent:0;background-color:#222;font-size:13px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li span a.confirm-btn:after {display:none;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li > span a.confirm-btn > span {line-height:100%;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li > span a.confirm-btn > span br {display:block;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li:nth-child(4) {margin-left:10px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li:nth-child(5) {line-height:58px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li:nth-child(5) > span {display:inline-block;}

    #wrap #main #section1 .wrap .gap .container .slide-container .page-btn-wrap {display:none;}

    #wrap #main #section2 .wrap .gap .container .content .gallery li .gallery-wrap .caption h4 {font-size:12px;}
    #wrap #main #section2 .wrap .gap .container .content .gallery li .gallery-wrap .caption h3 {font-size:16px;}

    #wrap #main .section2345 .wrap .gap .container .title h2 {font-size:2.5vw;}

        
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text h3 ,
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text h4 ,
    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-content .right-wrap .text-gap .slide-text p  {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

    #wrap #main #section3 .wrap .gap .container .content .slide-container .slide-view {border:2px solid #2e3192;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .arrow-wrap {bottom:2px;}


    #wrap #footer .content .left-wrap {float:none; text-align:center;width:100%;padding-bottom:20px;}
    #wrap #footer .content .left-wrap h1 {width:100%;}
    #wrap #footer .content .left-wrap h1 img {max-width:160px;}
    #wrap #footer .content .right-wrap {float:none;text-align:center;width:100%;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-left {width:100%;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-left div {width:auto;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-right {width:100%;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-right div {width:auto;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-left span {margin:0 10px;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-right span:nth-child(2) {margin:0 20px;}

}
@media all and (max-width:600px){
    #wrap #main #section2 .wrap .gap .container .content .gallery li {width:100%;}   

   
    #wrap #main #section3 .wrap .gap .container .content .slide-container .page-wrap {display:none;}
    #wrap #main #section3 .wrap .gap .container .content .slide-container .arrow-wrap {transform:scale(.8);bottom:-1px;right:-4.5px;}
}
@media all and (max-width:500px){
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) {top:16.7px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) a.logo-btn {width:160px;}

    #wrap #main #section5 .container ul li {width:50%;padding:0;}
}
@media all and (max-width:410px){
    #wrap #footer .content .right-wrap .address-row1 .address-row1-left {margin:0;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-left div {border:0;}
    #wrap #footer .content .right-wrap .address-row1 .address-row1-left div span:last-child {padding-bottom:10px;padding-top:10px;border-bottom:1px solid #444;}
}

@media all and (max-width:400px){
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) {top:16.7px;}
    #wrap #header .wrap .gap .container > ul > li:nth-child(1) a.logo-btn {width:140px;}

    #wrap #header .wrap .gap .container > ul > li:nth-child(2) {padding:22px 0 22px 10px;}

    #wrap #header .wrap .gap .container > ul > li:nth-child(3) ul li:nth-child(4) {margin-left:3px;}

    
}
@media all and (max-width:360px){
    #wrap #main #section5 .container ul li {width:100%;}
}

